node_modules/
# __test/
users.json
scripts/*

# downlaods and uploads dir 
data/products/*
data/zipped-files/*
data/videos/*
data/audios/*

# models/dynamic/*
# routes/dynamic/*
middlewares/rewritten.txt
another/
# .env


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

